<app-info-custom [data]="{label: 'Username', value: user.username}"></app-info-custom>
<app-info-custom [data]="{label: 'Email', value: user.email}"></app-info-custom>
<app-info-custom [data]="{label: 'Telefono', value: user.phone}"></app-info-custom>
<app-info-custom [data]="{label: 'Sito Internet', value: user.website}"></app-info-custom>
