<div class="form-group">
    <label>{{element.key}}</label>
    <input class="form-control" type="text" (keyup)="setChangeStyle()" [(ngModel)]="element.value" >
    <i class="fa fa-trash" (click)="removeStyle()"></i>
</div>

