:host > div{
  display: flex;
  align-items: center;
  label{
    flex-basis: 40%;
    margin: {
      bottom: 0;
      right: 10px;
    };
  }
  input{
    flex-basis: 60%;
  }
  i{
    padding: 10px;
    cursor: pointer;
  }
}
