p{
  text-align: right;
  span{
    &:nth-child(1){
      position: relative;
      top: 10px;
      right: 10px;
      padding: 5px 10px;
      font-size: 12px;
      background: white;
    }
    &:nth-child(2){
      display: block;
      padding: 10px;
      border: solid 1px lightgray;
      text-align: left;
      border-radius: 10px;
      color: #5a4c4c;
    }
  }
}

