<app-custom-card title="La tua stazione meteo">
    <form #f="ngForm" (ngSubmit)="setCity(f)">
        <div class="fom-group">
            <label>Scegli la tua città</label>
            <div style="display: flex">
                <!--<input type="text" #search minlength="2" class="form-control" [ngModel]="city" name="city">-->
                <input type="text"  class="form-control" [formControl]="search" name="city">
                <!--<button class="btn btn-primary">Cerca</button>-->
            </div>
        </div>
    </form>

    <div>
        <app-weather [city]="city" [test]="test"></app-weather>
    </div>
</app-custom-card>
