<div class="card">
    <div class="card-header">
        <span>{{title}}</span>
        <app-list-ico (action)="icoAction($event)" [listIco]="ico" *ngIf="ico"></app-list-ico>
        <ng-content select="[header]"></ng-content>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>
