<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Test App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let voice of voices">
                <a class="nav-link" [routerLink]="voice.view" routerLinkActive="active">{{voice.label}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="userLogged">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>{{userLogged.name}}</span> <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" (click)="logoutAction($event)">
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
