<div appDisplayFlex [wrap]="wrap" [cols]="24" #flex="appDisplayFlex">
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
    <div col="3" [appFlexBasis]="flex">Test</div>
</div>

<div class="list-group">
    <h1 appTest>Lista Utenti</h1>
    <div class="list-group-item" *ngFor="let user of users" (click)="setUser(user)">
        <app-element-list label="Nome" [value]="user.name"></app-element-list>
        <app-element-list label="E-mail" [value]="user.email"></app-element-list>
        <app-element-list label="Creato il" [value]="user.created_at | date:'dd/MM/yyyy'"></app-element-list>
    </div>

    <button #btnCall class="btn btn-primary">Chiama</button>
</div>

<div *ngIf="selectedUser">
    <h1>{{selectedUser.user.name}}</h1>
    <form [formGroup]="permissionsForm" (ngSubmit)="addPermissions()">
        <div formArrayName="permissions">
            <div class="form-group" *ngFor="let perm of getPermissions().controls; let i = index" [formGroupName]="i">
                <input type="checkbox" [name]="perm.get('id').value" formControlName="isset"> <label>{{perm.get('permission').value}}</label>
            </div>
        </div>
        <button *appPermission="permissions; cond true"  type="submit" class="btn btn-primary">Aggiorna</button>
    </form>

    <!--<form #f="ngForm" (ngSubmit)="addPermissions(f)">-->
        <!--<div class="form-group" *ngFor="let perm of selectedUser.permissions; let i = index">-->
            <!--<input type="checkbox" [name]="perm.id" [value]="perm.id" [(ngModel)]="perm.isset"><label>{{perm.permission}}</label>-->
        <!--</div>-->


    <!--</form>-->
</div>
