<div>
    <p (click)="openCard = !openCard">{{openCard ? 'Nascondi' : 'Mostra' }}</p>
</div>


<div *ngIf="openCard">
    <h1>Lista della spesa</h1>
    <input type="text" [(ngModel)]="search">
    <ul>
        <li *ngFor="let el of list | filterArray:search">
            <span>{{el}}</span>
            <span><i class="fa fa-trash" (click)="removeElement(el)"></i></span>
        </li>
    </ul>
    <input type="text" (keyup.enter)="addElement($event)" placeholder="aggiungi elemento">
</div>
