<div *ngIf="!editActor">
    <app-custom-card [title]="actor.name" *ngIf="actor" ico="pencil" (action)="editActor = true">
        <div class="row">
            <div class="col text-center">
                <img [src]="actor.photo" class="img-thumbnail">
            </div>
            <div class="col">
                <app-info-custom [data]="{label: 'Nome', value: actor.name}"></app-info-custom>
                <app-info-custom [data]="{label: 'Anno di nascita', value: actor.year}"></app-info-custom>
            </div>
        </div>
    </app-custom-card>

    <app-custom-card title="LIsta film" *ngIf="actor && actor.films">
        <div class="list-group">
            <div class="list-group-item" appDisplayFlex justify="space-between" align="center" *ngFor="let film of actor.films">
                <app-element-list appFlexBasis [col]="6" label="Nome" [value]="film.title"></app-element-list>
                <app-element-list appFlexBasis [col]="6" label="Anno" [value]="film.year"></app-element-list>
            </div>
        </div>
    </app-custom-card>
</div>

<app-custom-card title="Modifica Attore" *ngIf="editActor">
    <app-actor-edit  (sub)="editActorAction($event)" [actor]="actor"></app-actor-edit>
</app-custom-card>

