<footer class="text-white bg-primary fixed-bottom">
    <div class="p-3">{{date | date:'dd/MM/yyyy H:mm:s'}}</div>
    <div class="text-right p-3">© 2020 Copyright:
        <a  href="https://massimilianosalerno.it"> Massimiliano Salerno</a>
    </div>
</footer>
