<div>
    <form #f="ngForm" (ngSubmit)="login(f)">
        <div class="form-group">
            <input type="email" required name="email" ngModel class="form-control" placeholder="email">
        </div>
        <div class="form-group">
            <input type="password" required name="password" ngModel class="form-control" placeholder="password">
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>
