<app-nav
        [userLogged]="authService.getUser()"
        [voices]="menuService.voices$ | async"
         (logout)="logout()"
></app-nav>
<div [ngClass]="container">
    <router-outlet></router-outlet>
</div>

<!--<div [ngClass]="getContainer()" [ngSwitch]="menuData.selectedView.view">-->
    <!--<app-home *ngSwitchCase="'home'"></app-home>-->
    <!--<app-shopping-list *ngSwitchCase="'shopping'" ></app-shopping-list>-->
    <!--<app-image-category *ngSwitchCase="'category'" ></app-image-category>-->
    <!--<app-pipe-view *ngSwitchCase="'pipe'" ></app-pipe-view>-->
    <!--<app-users  *ngSwitchCase="'users'" ></app-users>-->
    <!--<app-weather-page  *ngSwitchCase="'weather'" ></app-weather-page>-->
    <!--<app-dynamic-style  *ngSwitchCase="'dynamic'" ></app-dynamic-style>-->
<!--</div>-->


<app-footer></app-footer>
