<div>Città attuale: {{city}}</div>
<div class="row" *ngIf="weather">
    <div class="col-sm-4">
        <img [src]="weather.current.weather_icons[0]">
    </div>
    <div class="col-sm-4">
        {{weather.current.temperature}}
    </div>
    <div class="col-sm-4">
        <div> Vento: {{weather.current.wind_speed}}</div>
        <div> Precipitazioni: {{weather.current.precip}}</div>
        <div> Umidità: {{weather.current.humidity}}</div>
    </div>


    <div>{{testFunc()}}</div>
</div>
