<div class="img-element" *ngIf="categories; else loading">
    <div class="list-group">
        <button
                [disabled]="category.category === selectedCategory"
                class="list-group-item btn list-group-item-primary"
                *ngFor="let category of categories; let i = index; let o = odd; let e = even; let l = last; let f = first"
                style="cursor: pointer"
                (click)="setUrl(category)">
            {{category.label}}
        </button>
    </div>
    <div class="text-center">
        <img [src]="getUrl()">
    </div>
</div>

<ng-template #loading>Caricamento in corso</ng-template>
