<app-custom-card title="Pagina Attori">
    <div class="list-group">
        <div class="list-group-item"
             appDisplayFlex justify="space-between" align="center"
             *ngFor="let actor of actors"
             [routerLink]="['actors', {id: actor.id}]"
        >
            <img [src]="actor.photo" style="height: 100px" class="img-thumbnail">
            <app-element-list label="Nome" [value]="actor.name"></app-element-list>
            <app-element-list label="Anno di nascita" [value]="actor.year"></app-element-list>
            <button class="btn btn-danger cursor-pointer" (click)="deleteActor($event, actor.id)">Elimina</button>
        </div>
    </div>
</app-custom-card>
<app-custom-card title="Crea nuovo attore">
    <app-actor-edit (sub)="addActor($event)"></app-actor-edit>
</app-custom-card>

