<h1 (click)="setGender()">{{getTitle()}}</h1>
<div>
    Sesso: {{gender === 'F' ? 'Donna' : 'Uomo' }}
</div>

<div>
    Si tratta di un oggetto? {{objectUtils.isObject({}) ? 'SI' : 'NO'}}
</div>
<div>
    <input type="text" [(ngModel)]="title">
</div>
