<app-custom-card [title]="'Pagina di ' + user.name"
                 [ico]="listIcon"
                 (action)="actionIco($event)" *ngIf="user">
    <div class="row">
        <app-custom-card title="Mappa" class="col-sm-4">
            <app-address-info *ngIf="user.address" [address]="user.address"></app-address-info>
        </app-custom-card>
        <app-custom-card title="Info" class="col-sm-4">
            <app-general-info *ngIf="user" [user]="user"></app-general-info>
        </app-custom-card>
        <app-custom-card title="Profilo" class="col-sm-4">
            <app-profile-info [user]="user"></app-profile-info>
        </app-custom-card>
        <app-custom-card title="Meteo" *ngIf="user.address && user.address.city" class="col-sm-4">
            <!--<app-weather [city]="user.address.city"></app-weather>-->
        </app-custom-card>

    </div>
</app-custom-card>

