<ng-template [ngIf]="control && control.dirty && control.errors">
    <div *ngFor="let error of errors">
        <app-error-message *ngIf="control.errors && control.errors[error.type]" [message]="getMessageError(error.message)"></app-error-message>
    </div>
</ng-template>

