<app-custom-card title="Lista Utenti">
    <div *ngIf="users$ | async as users; else loadingOrError">
        <input type="text" class="form-control" [(ngModel)]="search">
        <ul class="list-group">
            <li class="list-group-item" style="cursor: pointer" [routerLink]="['/users', user.id]"  *ngFor="let user of users |filterArray:search:['name', 'username', 'email']">
                <app-element-list label="Nome" [value]="user.name"></app-element-list>
                <app-element-list label="Username" [value]="user.username"></app-element-list>
                <app-element-list label="Email" [value]="user.email"></app-element-list>
            </li>
        </ul>
    </div>
    <ng-template #loadingOrError>
        <div *ngIf="error; else loading">{{error}}</div>
        <ng-template #loading>
            <div>Caricamento in corso</div>
        </ng-template>
    </ng-template>

</app-custom-card>
