<app-custom-card title="Stile dinamico">
    <div class="row">
        <div class="col-6">
            <div [ngStyle]="stylePage"></div>
        </div>
        <div class="col-6">
            <app-single-style *ngFor="let el of stylePage | objectKey:true" [element]="el" (rm)="removeStyle($event)" (ch)="setChangeStyle($event)"></app-single-style>
        </div>
    </div>
    <div>
        <h1>Aggiungi nuovo stile</h1>
        <form #f="ngForm" (ngSubmit)="addStyle(f)">
            <div class="form-group">
                <input type="text" placeholder="proprietà" name="property" ngModel class="form-control">
                <input type="text" placeholder="valore" name="value" ngModel class="form-control">
                <button class="btn btn-primary">Aggiungi</button>
            </div>
        </form>
    </div>

    <app-print-list [array]="array"></app-print-list>
</app-custom-card>
