<form [formGroup]="myForm">
    <input type="text" formControlName="name" name="name" class="form-control" placeholder="nome">
    <input type="text" formControlName="surname" name="surname" class="form-control" placeholder="cognome">
    <input type="email" formControlName="email" name="email" class="form-control" placeholder="email">
    <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password">
</form>
<button class="btn btn-danger" (click)="enableDisableSurname()">Abilita/Disabilita</button>

{{myForm.value | json}}
