/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

body{
  padding-bottom: 50px;
}


button:disabled{
  cursor: not-allowed;
}
