<form [formGroup]="editForm" (ngSubmit)="confirm()">
    <div class="form-group" *ngFor="let element of formInput">
        <input [appValidForm]="editForm.get(element.name)"
                [type]="element.type"
                [formControlName]="element.name"
                [placeholder]="element.placeholder"
        >
        <app-error-management [control]="editForm.get(element.name)"></app-error-management>
    </div>
    <button class="btn btn-primary" [disabled]="editForm.invalid">{{actor? 'Modifica Attore' : 'Crea Attore'}}</button>
</form>

